.section-4 {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-left: 12%;
    background: #474747;

    .contact-text-box {
        width: 50%;
        height: 100%;

        .contact-text {
            margin-top: 150px;

            h2 {
                font-size: 60px;
                color: green;
            }

            h3 {
                font-size: 40px;
                color: rgb(184, 184, 184);
            }

            .contacts {
                margin-top: 100px;

                .number {
                    display: flex;
                    gap: 20px;
                    align-items: center;

                    a {
                        color: rgb(184, 184, 184);
                    }

                    img {
                        width: 50px;
                    }
                }

                .location {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    a {
                        text-decoration: none;
                        color: rgb(184, 184, 184);
                    }

                    img {
                        width: 50px;
                    }
                }
            }

            .icons {
                display: flex;
                justify-content: center;
                gap: 30px;
                margin-top: 100px;

                img {
                    width: 40px;
                }
            }
        }
    }

    .contact-location-box {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .location-box {
            width: 80%;
            height: 80%;
            margin-top: 100px;
            background-image: url("/images/photo_2022-01-20_14-56-07.jpg");
            border-radius: 30px;
            background-position: center;
            background-size: cover;
        }
    }
}

@media only screen and (max-width:700px) {
    .section-4 {
        width: 100%;
        height: 100vh;
        padding-left: 0;
        display: block;
        background: #474747;
    
        .contact-text-box {
            padding-left: 12%;
            width: 100%;
            height: 50%;
    
            .contact-text {
                margin: 0;
                padding-top: 45%;
    
                h2 {
                    font-size: 33px;
                    color: green;
                }
    
                h3 {
                    font-size: 16px;
                    color: rgb(184, 184, 184);
                }
    
                .contacts {
                    margin: 10px;
    
                    .number {
                        display: flex;
                        gap: 20px;
                        align-items: center;
    
                        a {
                            color: rgb(184, 184, 184);
                        }
    
                        img {
                            width: 30px;
                        }
                    }
    
                    .location {
                        margin-top: 5px;
                        display: flex;
                        align-items: center;
                        gap: 20px;
    
                        a {
                            text-decoration: none;
                            color: rgb(184, 184, 184);
                        }
    
                        img {
                            width: 30px;
                        }
                    }
                }
    
                .icons {
                    display: flex;
                    justify-content: center;
                    gap: 30px;
                    margin-top: 0px;
    
                    img {
                        width: 40px;
                    }
                }
            }
        }
    
        .contact-location-box {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .location-box {
                width: 80%;
                height: 80%;
                margin-top: 0px;
                background-image: url("/images/photo_2022-01-20_14-56-07.jpg");
                border-radius: 30px;
                background-position: center;
                background-size: cover;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

@media only screen and (max-width:400px) {
    .section-4 {
        width: 100%;
        height: 100vh;
        padding-left: 0;
        display: block;
        background: #474747;
    
        .contact-text-box {
            padding-left: 12%;
            width: 100%;
            height: 55%;
    
            .contact-text {
                margin: 0;
                padding-top: 35%;
    
                h2 {
                    font-size: 33px;
                    color: green;
                }
    
                h3 {
                    font-size: 16px;
                    color: rgb(184, 184, 184);
                }
    
                .contacts {
                    margin: 10px;
    
                    .number {
                        display: flex;
                        gap: 20px;
                        align-items: center;
    
                        a {
                            color: rgb(184, 184, 184);
                        }
    
                        img {
                            width: 30px;
                        }
                    }
    
                    .location {
                        margin-top: 5px;
                        display: flex;
                        align-items: center;
                        gap: 20px;
    
                        a {
                            text-decoration: none;
                            color: rgb(184, 184, 184);
                        }
    
                        img {
                            width: 30px;
                        }
                    }
                }
    
                .icons {
                    display: flex;
                    justify-content: center;
                    gap: 30px;
                    margin-top: 0px;
    
                    img {
                        width: 40px;
                    }
                }
            }
        }
    
        .contact-location-box {
            width: 100%;
            height: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .location-box {
                width: 90%;
                height: 90%;
                margin-top: 0px;
                background-image: url("/images/photo_2022-01-20_14-56-07.jpg");
                border-radius: 30px;
                background-position: center;
                background-size: cover;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            }
        }
    }
}
