@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
.section-1 {
  width: 100%;
  height: 100vh;
  background: #474747;
}

.section-1 .header-navigation {
  width: 100%;
  position: fixed;
  z-index: 3;
}

.section-1 .header-navigation .header-line {
  width: 100%;
  height: 15px;
  background: grey;
}

.section-1 .header-navigation .header-line2 {
  width: 100%;
  height: 8px;
  background: green;
}

.section-1 .header-navigation nav {
  width: 100%;
  height: 80px;
  background: gray;
  padding: 0 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-1 .header-navigation nav .logo p {
  font-size: 32px;
  font-weight: 900;
  color: red;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section-1 .header-navigation nav .logo p span {
  margin-left: 10px;
  color: white;
  font-size: 26px;
}

.section-1 .header-navigation nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.section-1 .header-navigation nav .navigation li {
  list-style: none;
}

.section-1 .header-navigation nav .navigation li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.section-1 .header-navigation nav .navigation li a:hover {
  color: #acacac;
}

.section-1 .header-navigation nav img {
  display: none;
  width: 35px;
}

.section-1 .container-1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 12%;
}

.section-1 .container-1 .box-container-1 {
  width: 50%;
  height: 100%;
}

.section-1 .container-1 .box-container-1 .box-container-text {
  margin-top: 45%;
}

.section-1 .container-1 .box-container-1 .box-container-text h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: red;
}

.section-1 .container-1 .box-container-1 .box-container-text h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 60.55px;
  line-height: 130%;
  color: #000000;
}

.section-1 .container-1 .box-container-1 .box-container-text h3 span {
  color: green;
}

.section-1 .container-1 .box-container-1 .box-container-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #b8b8b8;
}

.section-1 .container-1 .box-container-2 {
  width: 50%;
  height: 100%;
}

.section-1 .container-1 .box-container-2 .first-mechanic-img {
  margin-top: 140px;
}

@media only screen and (max-width: 1140px) {
  .section-1 .container-1 {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 12%;
  }
  .section-1 .container-1 .box-container-1 {
    width: 50%;
    height: 100%;
  }
  .section-1 .container-1 .box-container-1 .box-container-text {
    margin-top: 45%;
  }
  .section-1 .container-1 .box-container-1 .box-container-text h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: red;
  }
  .section-1 .container-1 .box-container-1 .box-container-text h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 130%;
    color: #000000;
  }
  .section-1 .container-1 .box-container-1 .box-container-text h3 span {
    color: green;
  }
  .section-1 .container-1 .box-container-1 .box-container-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #b8b8b8;
  }
  .section-1 .container-1 .box-container-2 {
    width: 50%;
    height: 100%;
  }
  .section-1 .container-1 .box-container-2 .first-mechanic-img {
    margin-top: 140px;
    width: 400px;
  }
}

@media only screen and (max-width: 700px) {
  .section-1 .container-1 {
    width: 100%;
    height: 100%;
    display: inline;
    padding: 0 30px;
  }
  .section-1 .container-1 .box-container-1 {
    width: 100%;
    height: 30%;
  }
  .section-1 .container-1 .box-container-1 .box-container-text {
    margin-top: 120px;
    margin-left: 20px;
  }
  .section-1 .container-1 .box-container-1 .box-container-text h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: red;
  }
  .section-1 .container-1 .box-container-1 .box-container-text h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #000000;
  }
  .section-1 .container-1 .box-container-1 .box-container-text h3 span {
    color: green;
  }
  .section-1 .container-1 .box-container-1 .box-container-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
  }
  .section-1 .container-1 .box-container-2 {
    width: 100%;
    height: 60%;
  }
  .section-1 .container-1 .box-container-2 .first-mechanic-img {
    margin-top: 35px;
    margin-left: 20px;
    width: 350px;
  }
  .section-1 .header-navigation {
    width: 100%;
    position: fixed;
    z-index: 3;
  }
  .section-1 .header-navigation .header-line {
    width: 100%;
    height: 15px;
    background: grey;
  }
  .section-1 .header-navigation .header-line2 {
    width: 100%;
    height: 8px;
    background: green;
  }
  .section-1 .header-navigation nav {
    width: 100%;
    height: 80px;
    background: gray;
    padding: 0 25px;
  }
  .section-1 .header-navigation nav .logo p {
    font-size: 22px;
    font-weight: 1000;
    color: red;
  }
  .section-1 .header-navigation nav .logo p span {
    color: white;
    font-size: 16px;
  }
  .section-1 .header-navigation nav .navigation {
    display: block;
    text-align: center;
    width: 50%;
    height: 100%;
    background: green;
    position: absolute;
    top: 103px;
    right: 0;
    z-index: 2;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .section-1 .header-navigation nav .navigation li {
    list-style: none;
    display: block;
    margin: 20px 0;
  }
  .section-1 .header-navigation nav .navigation li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  .section-1 .header-navigation nav img {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 400px) {
  .section-1 .container-1 {
    width: 100%;
    height: 100%;
    display: inline;
    padding: 0 20px;
  }
  .section-1 .container-1 .box-container-1 {
    width: 100%;
    height: 25%;
  }
  .section-1 .container-1 .box-container-1 .box-container-text {
    margin-top: 90px;
    margin-left: 40px;
  }
  .section-1 .container-1 .box-container-1 .box-container-text h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: red;
  }
  .section-1 .container-1 .box-container-1 .box-container-text h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
  }
  .section-1 .container-1 .box-container-1 .box-container-text h3 span {
    color: green;
  }
  .section-1 .container-1 .box-container-1 .box-container-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #b8b8b8;
  }
  .section-1 .container-1 .box-container-2 {
    width: 100%;
    height: 65%;
  }
  .section-1 .container-1 .box-container-2 .first-mechanic-img {
    margin-top: 60px;
    margin-left: 75px;
    width: 200px;
  }
}

.section-2 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 12%;
  background: #474747;
}

.section-2 .left-about-container {
  padding-top: 15%;
  width: 50%;
  height: 100%;
}

.section-2 .right-about-container {
  width: 50%;
  height: 100%;
}

.section-2 .right-about-container .about-text {
  margin-top: 50%;
  margin-left: 40px;
}

.section-2 .right-about-container .about-text h4 {
  font-size: 35px;
  font-weight: 700;
  color: green;
}

.section-2 .right-about-container .about-text h6 {
  font-size: 20px;
  font-weight: 500;
  color: #b8b8b8;
}

@media only screen and (max-width: 700px) {
  .section-2 {
    width: 100%;
    height: 100vh;
    display: block;
    padding: 0 12%;
    background: #474747;
  }
  .section-2 .left-about-container {
    padding-top: 45%;
    width: 100%;
    height: 40%;
  }
  .section-2 .right-about-container {
    width: 100%;
    height: 60%;
  }
  .section-2 .right-about-container .about-text {
    margin-top: 40%;
    margin-left: 0;
  }
  .section-2 .right-about-container .about-text h4 {
    font-size: 25px;
    font-weight: 700;
    color: green;
  }
  .section-2 .right-about-container .about-text h6 {
    font-size: 18px;
    font-weight: 500;
    color: #b8b8b8;
  }
}

.section-3 {
  width: 100%;
  height: 100vh;
  background: #474747;
}

.section-4 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12%;
  background: #474747;
}

.section-4 .contact-text-box {
  width: 50%;
  height: 100%;
}

.section-4 .contact-text-box .contact-text {
  margin-top: 150px;
}

.section-4 .contact-text-box .contact-text h2 {
  font-size: 60px;
  color: green;
}

.section-4 .contact-text-box .contact-text h3 {
  font-size: 40px;
  color: #b8b8b8;
}

.section-4 .contact-text-box .contact-text .contacts {
  margin-top: 100px;
}

.section-4 .contact-text-box .contact-text .contacts .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-4 .contact-text-box .contact-text .contacts .number a {
  color: #b8b8b8;
}

.section-4 .contact-text-box .contact-text .contacts .number img {
  width: 50px;
}

.section-4 .contact-text-box .contact-text .contacts .location {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.section-4 .contact-text-box .contact-text .contacts .location a {
  color: #b8b8b8;
}

.section-4 .contact-text-box .contact-text .contacts .location img {
  width: 50px;
}

.section-4 .contact-text-box .contact-text .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-top: 100px;
}

.section-4 .contact-text-box .contact-text .icons img {
  width: 40px;
}

.section-4 .contact-location-box {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-4 .contact-location-box .location-box {
  width: 80%;
  height: 80%;
  margin-top: 100px;
  background-image: url("/images/location.png");
  border-radius: 30px;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 700px) {
  .section-4 {
    width: 100%;
    height: 100vh;
    padding-left: 0;
    display: block;
    background: #474747;
  }
  .section-4 .contact-text-box {
    padding-left: 12%;
    width: 100%;
    height: 50%;
  }
  .section-4 .contact-text-box .contact-text {
    margin: 0;
    padding-top: 45%;
  }
  .section-4 .contact-text-box .contact-text h2 {
    font-size: 33px;
    color: green;
  }
  .section-4 .contact-text-box .contact-text h3 {
    font-size: 16px;
    color: #b8b8b8;
  }
  .section-4 .contact-text-box .contact-text .contacts {
    margin: 10px;
  }
  .section-4 .contact-text-box .contact-text .contacts .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-4 .contact-text-box .contact-text .contacts .number a {
    color: #b8b8b8;
  }
  .section-4 .contact-text-box .contact-text .contacts .number img {
    width: 30px;
  }
  .section-4 .contact-text-box .contact-text .contacts .location {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .section-4 .contact-text-box .contact-text .contacts .location a {
    color: #b8b8b8;
  }
  .section-4 .contact-text-box .contact-text .contacts .location img {
    width: 30px;
  }
  .section-4 .contact-text-box .contact-text .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    margin-top: 0px;
  }
  .section-4 .contact-text-box .contact-text .icons img {
    width: 40px;
  }
  .section-4 .contact-location-box {
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-4 .contact-location-box .location-box {
    width: 80%;
    height: 80%;
    margin-top: 0px;
    background-image: url("/images/location.png");
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 400px) {
  .section-4 {
    width: 100%;
    height: 100vh;
    padding-left: 0;
    display: block;
    background: #474747;
  }
  .section-4 .contact-text-box {
    padding-left: 12%;
    width: 100%;
    height: 55%;
  }
  .section-4 .contact-text-box .contact-text {
    margin: 0;
    padding-top: 35%;
  }
  .section-4 .contact-text-box .contact-text h2 {
    font-size: 33px;
    color: green;
  }
  .section-4 .contact-text-box .contact-text h3 {
    font-size: 16px;
    color: #b8b8b8;
  }
  .section-4 .contact-text-box .contact-text .contacts {
    margin: 10px;
  }
  .section-4 .contact-text-box .contact-text .contacts .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-4 .contact-text-box .contact-text .contacts .number a {
    color: #b8b8b8;
  }
  .section-4 .contact-text-box .contact-text .contacts .number img {
    width: 30px;
  }
  .section-4 .contact-text-box .contact-text .contacts .location {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .section-4 .contact-text-box .contact-text .contacts .location a {
    color: #b8b8b8;
  }
  .section-4 .contact-text-box .contact-text .contacts .location img {
    width: 30px;
  }
  .section-4 .contact-text-box .contact-text .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    margin-top: 0px;
  }
  .section-4 .contact-text-box .contact-text .icons img {
    width: 40px;
  }
  .section-4 .contact-location-box {
    width: 100%;
    height: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-4 .contact-location-box .location-box {
    width: 90%;
    height: 90%;
    margin-top: 0px;
    background-image: url("/images/location.png");
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}
/*# sourceMappingURL=style.css.map */